@import './../../../styles/colors.scss';

.nlp-benefit-details {
  margin: 20px 20px;

  h4.section-title {
    margin-bottom: 24px;
  }

  .nlp-name-and-description {
    border-bottom: 1px solid $ant-motif-accent-medium-gray;
    padding-bottom: 48px;
    margin-bottom: 24px;
  }

  .nlp-service-details {
    border-bottom: 1px solid $ant-motif-accent-medium-gray;
    margin-bottom: 24px;
    padding-bottom: 48px;

    .costshares {
      padding: 16px 16px;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: $ant-motif-light-gray;

      .row {
        margin: auto;
        display: flex;

        padding-bottom: 10px;
        .costshare-label {
          margin-right: auto;
          font-weight: bold;
          line-height: 22px;
        }
      }
      .row:nth-child(n + 2) {
        border-bottom: 1px solid $ant-motif-accent-medium-gray;
        margin-bottom: 10px;
      }
      .row:nth-last-child(1) {
        border-bottom: 0px solid;
        margin-bottom: 0px;
      }
    }

    .nlp-service-additional-information1 {
      padding: 16px 16px;

      ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
          padding: 18px 0px 18px 0px;
        }
        .caption,
        .value {
          display: block;
        }
      }
    }

    .nlp-service-additional-information2, .nlp-service-additional-information1 {
      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
      } 
    }

  }

  .nlp-service-limits {
    border-bottom: 1px solid $ant-motif-accent-medium-gray;
    margin-bottom: 24px;
    padding-bottom: 48px;

    .nlp-limit-and-usage {

      .header {
        display: flex;
        justify-content: space-between;
      }
       .body {
        display: flex;
        justify-content: space-between;
        border: 1 solid $ant-motif-accent-medium-gray; 
        background-color:  $ant-motif-light-gray;
        padding: 16px 16px;
        span {
          border: 1px solid
        }
       }
    }
  }

  .note-text {
    height: 2.45rem;
    overflow: hidden;
    display:inline-block;
    position:relative;
    text-align: justify;
    border: 0px solid;
   
    
  }
  .note-field:not(.show)::after{
    content:'...';
    padding-left:.5rem;
    background-color: white;
    position: absolute;
    right:0;
    bottom:0;
  }
}


