@import "deprecated-colors";

/** Motif Primary Colors **/
$ant-blue: #0079c2;
$ant-rhino-blue-lt: #2453a6;
$ant-rhino-blue: #37475a;
$ant-sky-blue: #48c9ff;
$ant-light-blue: #58abdf;

/** Motif Secondary Colors **/
$ant-teal: #0a8194;
$ant-dark-teal: #005d6b;
$ant-bermuda-teal: #81cfc2;

/** Accent colors for Motif **/
$ant-motif-accent-red: #cc0033;
$ant-motif-accent-green: #078855;
$ant-motif-accent-orange: #f78d2f;
$ant-motif-accent-yellow: #fed74b;

//new colors pending
$ant-gray-blue: #4c6684;
$accent-color-light-magenta: #fff0fa;
$accent-color-green: #00cc33;
$accent-support-green: #00a294;

$primary: $ant-blue;
$primary-dark: $ant-rhino-blue;
$primary-light: $ant-sky-blue;

$secondary: $ant-teal;
$secondary-dark: $ant-dark-teal;
$secondary-light: $ant-bermuda-teal;

$support-info: $ant-blue;
$support-error: $ant-motif-accent-red;
$support-success: $ant-motif-accent-green;
$support-danger: $ant-motif-accent-red;
$support-warning: $ant-motif-accent-orange;

$colors: () !default;

$ant-motif-mine-shaft: #333333;
$ant-motif-dark-gray: #555555;
$ant-motif-dove-gray: #666666;
$ant-motif-dusty-gray: #949494;
$ant-medium-gray: #dcdcdc;
$ant-motif-silver: #cccccc;
$ant-motif-gallery: #eeeeee;
$ant-motif-light-gray: #f7f7f7;
$ant-motif-white: $white;
$ant-motif-black: $black;

$ant-motif-grays: () !default;
$ant-motif-grays: (
  100: $ant-motif-light-gray,
  200: $ant-motif-silver,
  250: $ant-medium-gray,
  300: $ant-motif-dusty-gray,
  400: $ant-motif-dove-gray,
  500: $ant-motif-dark-gray,
  600: $ant-motif-mine-shaft
);

// -------------------------------------------
//	Motif Colors
// -------------------------------------------

/**
 ******************************************************************************
 * DO NOT ADD CSS OR MIXINS TO THIS FILE :: IT WILL RESULT IN DUPLICATE STYLES
 ******************************************************************************
 */

// UTILITIES =======
$ant-motif-highlight-ocean: #286ce2;
$ant-brand-primary: $ant-motif-highlight-ocean;
$ant-motif-highlight-mauve: #d20a3c;
$ant-motif-highlight-green: #53b1a3;
$ant-motif-highlight-midnight-blue: #2453a6;
$ant-motif-highlight-dark-blue: #37475a;

$highlight-colors: (
  "highlight-one": $ant-motif-highlight-mauve,
  "highlight-two": $ant-motif-highlight-green,
  "highlight-three": $ant-motif-highlight-ocean,
  "highlight-four": $ant-motif-highlight-midnight-blue
);
$colors: map-merge($colors, $highlight-colors);

// ACCENTS =======
$ant-motif-accent-cinnabar: #e95a3c;
$ant-motif-accent-pumpkin: #f59a5f;
$ant-motif-accent-rasberry: #d5367e;
$ant-motif-accent-aquamarine: #7fcdbb;
$ant-motif-accent-bluegreen: #2ab5ca;
$ant-motif-accent-capri: #58abdf;

// DATA VISUALIZATION =======
$ant-motif-accent-pale-green: #00D795;
$ant-motif-accent-forest-green: #108808;
$ant-motif-accent-bright-green: #3BB273;
$ant-motif-accent-medium-gray: #CCCCCC;
$ant-motif-accent-light-gray: #D8D8D8;
$ant-motif-accent-dark-yellow: #FFCF6C;
$ant-motif-dark-gray: #333333;
$ant-motif-accent-indigo: #511785;
$ant-motif-accent-coral: #FF4C61;
$ant-motif-accent-tomato: #FE5E3C;
$ant-motif-accent-gold: #F2BC35;

$data-visualization-colors: (
  "data-visualization-one": $ant-motif-accent-pale-green,
  "data-visualization-two": $ant-motif-accent-forest-green,
  "data-visualization-three": $ant-motif-accent-bright-green,
  "data-visualization-four": $ant-motif-accent-medium-gray,
  "data-visualization-five": $ant-motif-accent-light-gray,
  "data-visualization-six": $ant-motif-accent-dark-yellow,
  "data-visualization-seven": $ant-motif-dark-gray,
  "data-visualization-eight": $ant-motif-accent-indigo,
  "data-visualization-nine": $ant-motif-accent-coral,
  "data-visualization-ten": $ant-motif-accent-tomato,
  "data-visualization-eleven": $ant-motif-accent-gold,
);
$colors: map-merge($colors, $data-visualization-colors);

$accent-colors: (
  "accent-one": $ant-motif-accent-cinnabar,
  "accent-two": $ant-motif-accent-pumpkin,
  "accent-three": $ant-motif-accent-rasberry,
  "accent-four": $ant-motif-accent-aquamarine,
  "accent-five": $ant-motif-accent-bluegreen,
  "accent-six": $ant-motif-accent-capri
);
$colors: map-merge($colors, $accent-colors);

// ###########################################
// ## Color Replacements
// ###########################################
$support-success: $ant-motif-highlight-green;

// TODO: Refactor to point to internal variables when integrating variables/_colors into this file
$colors: map-merge(
  (
    "primary": $ant-motif-highlight-ocean,
    "primary-light": $primary-light,
    "primary-dark": $ant-motif-highlight-midnight-blue,
    "secondary": $secondary,
    "secondary-light": $secondary-light,
    "secondary-dark": $secondary-dark,
    "support-info": $support-info,
    "support-error": $support-error,
    "support-success": $support-success,
    "support-warning": $support-warning,
    "support-danger": $support-danger
  ),
  $colors
);

// TODO: Move mixins and functions to separate file.
// Tuesday, June 11 2019
@mixin motif-blue-gradient($angle) {
  background: linear-gradient($angle, $ant-sky-blue 0%, $ant-blue 100%);
}
@mixin motif-blue-gradient-dk($angle) {
  background: linear-gradient($angle, rgba(42, 181, 202, 1) 0%, $ant-blue 100%);
}

@mixin motif-gray-gradient($angle) {
  background: linear-gradient($angle, map-get($ant-motif-grays, 100), #fbfbfb);
}

@mixin motif-orange-gradient($angle) {
  background: linear-gradient($angle, accent(accent-two), accent(accent-one));
}

@function highlight($key: "highlight-one") {
  $highlight: map-get($highlight-colors, $key);
  @return $highlight;
}

@function accent($key: "accent-one") {
  $accent: map-get($accent-colors, $key);
  @return $accent;
}
