

<!--
<search-summary></search-summary>

-->

<div class="parent">
    <div class="child">hello world</div>
</div>


<div *ngIf="this.benefitNLPSearchSummaryData">
    <!--
    <div>
        <nlp-search-summary-filter-tags #nlpSearchSummaryFilterTag (filterTagRemoved)="toggleFilter($event)" [initialFilters]="this.benefitNLPSearchSummaryData.selectedFilters"></nlp-search-summary-filter-tags>  
        <button (click)="clearAll()">Clear Filter</button>
    </div>
-->

    <div>
        <ng-container *ngFor="let filter of benefitNLPSearchSummaryData.selectedFilters">
            <nlp-search-summary-filter-tag [selectedFilter]="filter" (removeTag)="testx(filter)"></nlp-search-summary-filter-tag>
        </ng-container>  
    </div>

    <h4>Networks</h4>
    <ul>
        <ng-container *ngFor="let filter of this.benefitNLPSearchSummaryData?.filters">
            <ng-container *ngIf="filter.type===filterType.NETWORK">
            <li>
                <input type="checkbox" [checked]="filter.selected" [(ngModel)]="filter.selected" (ngModelChange)="toggleFilter(filter)">
                <span [innerHTML]='filter.value'></span>
                <span [innerHTML]="content.toolTip[filter.value.replace(regspace,'').toLowerCase()]"></span>
            </li>
            </ng-container>
        </ng-container>
    </ul>
    <h4> Service Location</h4>
    <ul>
        <ng-container *ngFor="let filter of this.benefitNLPSearchSummaryData?.filters">
            <ng-container *ngIf="filter.type===filterType.PLACE_OF_SERVICE">
            <li>
                <input type="checkbox" [checked]="filter.selected" [(ngModel)]="filter.selected" (ngModelChange)="toggleFilter(filter)">
                <span [innerHTML]="filter.value"></span>
            </li>
            </ng-container>
        </ng-container>
    </ul>

</div>