

<!--
<search-summary></search-summary>

-->


<div class='nlp-filter-tags-container'>
    <nlp-summary-filter #nlpFilter [changing]="changingValue"></nlp-summary-filter>  
    <button (click)="addFilter($event)">add filter</button>
</div>



<button (click) = "filter()" value="hitme">filter</button>
<ul>

    <ng-container *ngFor="let filter of this.benefitNLPSearchSummaryData.filters">
        <ng-container *ngIf="filter.type===filterType.NETWORK">
         <li>
            <input type="checkbox" [checked]="filter.selected" [(ngModel)]="filter.selected" (ngModelChange)="toggleFilter(filter)">
            <span [innerHTML]="filter.value"></span>
        </li>
        </ng-container>
    </ng-container>
</ul>
