@import './../styles/colors.scss';


.parent .child {
  color: red
}

.parentx {
  .child {
    color:red;
  }
}

.nlp-no-benefit-summary-message-wrapper::ng-deep {
  border: 1px solid;
  text-align: center;
    .motif-search-1 {
      border: 2px solid;
      font-size: 148px;
      width: 148px;
      height: 148px;
      transform: rotate(270deg);
      color: $ant-motif-accent-medium-gray;
    }
    .nlp-no-benefit-summary-message-line1 {
      font-size: 22px;
      font-weight: 700;
      align-self: stretch;
    }
    .nlp-no-benefit-summary-message-line2 {
      font-size: 14px;
      font-weight: 400;
    } 
}