@import './../styles/colors.scss';


.parent .child {
  color: red
}

.parentx {
  .child {
    color:red;
  }
}

.nlp-no-benefit-summary-message-wrapper::ng-deep {
  border: 1px solid;
  text-align: center;
   .nlp-no-benefit-summary-icon {
    margin: 24px 24px;
      .motif-search-1 {
        font-size: 100px;
        transform: rotate(270deg);
        color: $ant-motif-accent-medium-gray;
      }
   }
    .nlp-no-benefit-summary-message-line1 {
      font-size: 22px;
      font-weight: 700;
      align-self: stretch;
    }
    .nlp-no-benefit-summary-message-line2 {
      font-size: 14px;
      font-weight: 400;
    } 
}

.note-text {
  height: 2.9rem;
  overflow: hidden;
  display: inline-block;
  position: relative;
  text-align: justify;
  border: 0 solid;
}

.note-field-base:not(.show)::after {
  padding-left: 0.5rem;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
}

.note-field:not(.show)::after {
  content: "...";
  padding-left: 0.5rem;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
}