
@import './../../../styles/colors.scss';
@import './../../../styles/breakpoint.scss';


div {
  border: 0px solid black;
  // margin: 10px 10px;
}

.search-summary-result-container {
  border: 1px solid $ant-motif-accent-medium-gray;
  background-color: $ant-motif-light-gray;
  padding-top: 26px;
  padding-left: 24px;
  padding-bottom: 26px;
  padding-right: 157px;

}

.search-result-header {
  .search-summary-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 2.5px;
    text-align: left;
  }

  .search-summary-results-found {
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 10px;
    padding-top: 0px;
  }
}

.search-result-item {
  padding: 32px;
  background-color: $ant-motif-white;

  .place-of-service {
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.14em;
    text-align: left;

    margin-bottom: 14px;
  }

  .name-and-desc {
    .benefit-name {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    }

    .network {
      background-color: $ant-motif-accent-forest-green;
      color: $ant-motif-white;
      height: 18px;
      width: 85px;
      left: 0px;
      top: 108px;
      border-radius: 2px;
      padding: 3px 6px 3px 6px;
    }
  }

  .more-details-wrapper {

    display:flex;
    flex-wrap: wrap;
    

    .col1 {
     max-width: 400px;
    }

    .col2 {
      min-width: 300px;
      border: 1px solid black;

      @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
      }
      .type {
        display: flex;
        

        .label {

        }

        .value {
          color: red;
          margin-left: auto;
        }
      }
      
    }
    .col3 {
      border: 1px solid black;
     
      @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
      }

      button {
        @media screen and (max-width: $breakpoint-sm) {
          width: 100%;
        }
      }

    }
  }
  
}
