@import './../../../styles/colors.scss';
@import './../../../styles/breakpoint.scss';

div {
  border: 0px solid black;
  // margin: 10px 10px;
}

.search-summary-container {

  display:flex;
  .left-pane {
    width: 253px;
    border-right: 1px solid $ant-motif-silver;
  }
  .right-pane {
    
  }
}

.search-summary-result-container {
  border: 1px solid $ant-motif-accent-medium-gray;
  background-color: $ant-motif-light-gray;
  padding-top: 26px;
  padding-left: 24px;
  padding-bottom: 26px;
  padding-right: 157px;
}

.search-result-header {
  .search-summary-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 2.5px;
    text-align: left;
  }

  .search-summary-results-found {
    font-family: 'Montserrat';
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 10px;
    padding-top: 0px;
  }
}

.search-result-item {
  display: flex;
  flex: wrap;
  padding: 32px;
  background-color: $ant-motif-white;


  .more-details-wrapper {
    display: flex;
    flex-wrap: wrap;


    .place-of-service {
      display: flex;
      flex-basis: 100%;
      font-family: Lato;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0.14em;
      text-align: left;

  
      margin-bottom: 14px;
    }

    .col1 {
      max-width: 276px;
      margin-right: 34px;
    
      .benefit-name {
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }
  
      .benefit-description {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
      }
      .network {
        background-color: $ant-motif-accent-forest-green;
        color: $ant-motif-white;
        height: 18px;
        width: 85px;
        left: 0px;
        top: 108px;
        border-radius: 2px;
        padding: 3px 6px 3px 6px;
      }

    }

    .col2 {
      min-width: 238px;
      border: 0px solid black;
      margin-left: auto;

      @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
      }
      .type {
        display: flex;

        .label {
          font-family: Lato;
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          color: $ant-motif-dark-gray;
        }

        .value {
          margin-left: auto;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0px;
        }
      }
    }

  }



  .view-details {
    width: 100px;
    border: 0px solid black;
    border-left: 1px solid $ant-motif-silver;
    margin-left: 34px;
    padding-left: 34px;
  }
}
