/* Add application styles & imports to this file! */
@import url('https://membersecure.anthem.com/member/assets/styles/main.css?20230330113210');
@import './styles/colors.scss';
// p {
//   background-color: grey;
// }

#search-bar-container {
  border-bottom: 2px solid $ant-motif-light-gray;;
  padding-bottom: 33px;

  .search-bar-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;

    .search-bar-left {
      flex-grow: 1;
    }
    .search-bar-right {
      flex-grow: 0;
    }
  }

  .search-bar {
    position: relative;
    .motif-search-1 {
      position: absolute;
      color: #286ce2;
      font-size: 1.5rem !important;
      padding-top: 15px;
      padding-left: 10px;
    }
    .search-term-wrapper {
      flex: 1 0 60%;
      box-shadow: #00000029 0 10px 36px, #0000000f 0 0 0 1px;
      margin-top: 5px;

      .search-input {
        height: 100%;
        width: 100%;
        font-size: 18px;
        color: #666;
        padding: 11px 40px;
        border: 0px;
      }
    }

    .look-up-container {
      border: 1px solid #cccccc;
      border-radius: 5px;
      box-shadow: #00000029 0 10px 36px, #0000000f 0 0 0 1px;
      width: 100%;
    }

    .fly-out {
      z-index: 499;
      position: absolute;
      background-color: #fff;
      margin-top: 2px;
      padding-top: 16px;
    }
  }

  .search-bar-categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;

    .category-name {
      margin-top: 10px;
    }

    .category-circle-background {
      border-radius: 50%;
      width: 58px;
      height: 58px;
      border: 1px solid #000;
      margin: auto;
      display:flex;
      justify-content: center;
      align-items: center;
      background: #286ce2;

       
      .drawing {
        height: 24px;
        width: 28px;
      }

      .browse-all-categories {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-browse-all-categories.svg");
      }
      .preventative-care {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-preventative-care.svg");
      }
      .emergency-care {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-emergency-care.svg");
      }
      .office-visits {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-office-visits.svg");
      }
      .hospital-visits {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-hospital-visits.svg");
      }
      .physical-therapies {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-physical-therapies.svg");
      }
    }

    
  }

  .search-result-container {
    .search-result-header-service {
      background: $ant-motif-light-gray;
      padding: 10px 10px 10px 10px;
    }

    .search-result-item {
      padding: 10px 24px 10px 24px;
    }
    .search-result-item:nth-child(n + 2) {
      border-top: 1px solid $ant-motif-light-gray;
    }

    .show-more {
      border-top: 1px solid $ant-motif-light-gray;
      padding: 20px 24px;
    }
  }
}

/* 
Remove padding and shadow for Nlp Search card container. 
*/
div[cardid="BenefitNLPSearch"].hw-wrapper,
div[cardid="BenefitNLPSearch"].tcp-card.tcp-card-cmp {
  box-shadow: none;
  padding: 0px;
}
div[cardid="BenefitNLPSearch"] {
  .section-header-two {
    display: none;
  }
  .section-header-two:after {
    display: none;
  }
}
