/* Add application styles & imports to this file! */
@import url('https://membersecure.anthem.com/member/assets/styles/main.css?20230330113210');
@import './styles/colors.scss';
@import './styles/breakpoint.scss';
// p {
//   background-color: grey;
// }

#search-bar-container {

  #benefitKeyword::-webkit-search-cancel-button{

    //background-color: red;
    outline: 1px solid #286CE2;
    border: 1px solid #286CE2;

  /* 	position: absolute;
    right: 0; */
    //font-size: 30px;

    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    content: "\e93b";
    -webkit-text-fill-color: red;
    -webkit-text-stroke-color: red;
    margin-right: -20px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(40, 108, 226)'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
    
   

  }

  
  #benefitKeyword::-webkit-search-cancel-button:after{
    content: "\00d7";
  }

  border-bottom: 2px solid $ant-motif-light-gray;;
  padding-bottom: 33px;

  .search-bar-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;

    .search-bar-left {
      flex-grow: 1;
    }
    .search-bar-right {
      flex-grow: 0;
    }
  }

  .search-bar {
    position: relative;
    .motif-search-1 {
      position: absolute;
      color: $ant-motif-accent-medium-gray;
      font-size: 1.5rem !important;
      padding-top: 15px;
      padding-left: 10px;
    }

    .search-term-wrapper {
      flex: 1 0 60%;
      box-shadow: $ant-medium-gray 0 10px 36px, $ant-medium-gray 0 0 0 1px;
      margin-top: 5px;

      .search-input {
        height: 52px;
        width: 100%;
        font-size: 18px;
        color: #666;
        padding: 11px 40px;
        border: 1px;
      }
    }

    .look-up-container {
      border: 1px solid #cccccc;
      border-radius: 5px;
      box-shadow: $ant-medium-gray 0 10px 36px, $ant-medium-gray 0 0 0 ;
      width: 100%;
    }

    .fly-out {
      z-index: 499;
      position: absolute;
      background-color: #fff;
      margin-top: 2px;
      padding-top: 16px;
    }

    .no-matching-keywords-container {
      margin: 0px 10px 10px;
      .icon {
        color: $primary;
      }
      .text {
        vertical-align: text-bottom;
        margin-left: 5px;
      }
    }
  }

  .search-bar-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;

    .category-name {
      margin-top: 10px;
      max-width: 30px;
      text-align: center;
    }

    .category-circle-background {
      border-radius: 50%;
      width: 58px;
      height: 58px;
      border: 1px solid #000;
      margin: auto;
      display:flex;
      justify-content: center;
      align-items: center;
      background: #286ce2;

       
      .drawing {
        height: 24px;
        width: 28px;
      }

      .browse-all-categories {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-browse-all-categories.svg");
      }
      .preventative-care {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-preventative-care.svg");
      }
      .emergency-care {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-emergency-care.svg");
      }
      .office-visits {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-office-visits.svg");
      }
      .hospital-visits {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-hospital-visits.svg");
      }
      .physical-therapies {
        background-image: url("https://membersecure.ci1.awse1.anthem.com/efssites/dam/benefits/nlp-physical-therapies.svg");
      }
    }

    
  }

  .search-result-container {
    .search-result-header-service {
      background: $ant-motif-light-gray;
      padding: 10px 10px 10px 10px;
    }

    .search-result-item {
      padding: 10px 24px 10px 24px;
    }
    .search-result-item:nth-child(n + 2) {
      border-top: 1px solid $ant-motif-light-gray;
    }

    .show-more {
      border-top: 1px solid $ant-motif-light-gray;
      padding: 20px 24px;
    }
  }
}

/* 
Remove padding and shadow for Nlp Search card container. 
*/
div[cardid="BenefitNLPSearch"].hw-wrapper,
div[cardid="BenefitNLPSearch"].tcp-card.tcp-card-cmp {
  box-shadow: none;
  padding: 0px;
}
div[cardid="BenefitNLPSearch"] {
  .section-header-two {
    display: none;
  }
  .section-header-two:after {
    display: none;
  }
}
